Package: vk4xmpp-2a1
Version: 2.155
Section: network, chat
Priority: optional
Architecture: i386
Depends: python2.7
Maintainer: mrDoctorWho . <support@simpleapps.ru>
Description: XMPP vk.com transport service
