Package: vk4xmpp
Version: VERSION
Section: network, chat
Priority: optional
Architecture: all
Depends: python2.7
Maintainer: mrDoctorWho <support@simpleapps.ru>
Description: XMPP vk.com transport service
Homepage: https://github.com/mrDoctorWho/vk4xmpp/
